.root {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 1rem;

  border-radius: 0.75rem;
  border: 1px solid var(--asc-text-info);
  padding: 1rem;
}

.content {
  display: flex;
  gap: 1rem;
}
