.root {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  border-radius: 0.75rem;
  border: 1px solid var(--asc-text);
  padding: 1rem;
}
.name {
  font-size: var(--asc-low-font);
}

.children {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
